{% extends 'main.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="card border-0">
    <div class="card-body">
      <div class="row">

        <div class="col-md-3">
          <figure>
            <img
              src="{{ profile.avatar.url }}"
              class="img-fluid rounded-0"
              alt="{{ profile }}">
          </figure>
        </div>

        <div class="col-md-9">

          <h5 class="card-title">
            {{ profile }}
          </h5>

          <div class="card-text">
            <ul>
              <li>Никнейм: {{ profile.user.username }}</li>
              {% if profile.user.first_name %}
                <li>Имя: {{ profile.user.first_name }}</li>
              {% endif %}
              {% if profile.user.last_name %}
                <li>Фамилия: {{ profile.user.last_name }}</li>
              {% endif %}
              <li>Заходил: {{ profile.user.last_login }}</li>
              {% if profile.bio %}
                <li>О себе: {{ profile.bio }}</li>
              {% endif %}
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
    {% if posts %}
      <h3>Посты {{ profile.user.username }}:</h3>
      {% include 'includes/posts.html' %}
    {% else %}
      <h3>{{ profile.user.username }} пока ничего не запостил(</h3>
    {% endif %}
  </div>
{% endblock %}
