{% extends 'main.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card mb-3 border-0 nth-shadow">
    <div class="card-body">

      <div class="card-title nth-card-title">
        Авторизация
      </div>

      <a class="btn btn-dark mt-3 mb-3" href="{% url 'social:begin' 'google-oauth2' %}">
        Зайти с помощью Google
      </a>

      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-dark">
          Авторизоваться
        </button>
        <a
          href="{% url 'user_app:register' %}"
          class="btn btn-dark"
          >Зарегистрироваться
        </a>
      </form>

    </div>
  </div>
{% endblock content %}
