{% if request.user.is_authenticated %}
<div class="rating-buttons mt-3">
  {% if tag_button %}
    {% if tag_button == 1 %}
      <button class="btn btn-sm btn-success" data-post="{{ post.id }}" data-value="1">Лайк</button>
      <button class="btn btn-sm btn-outline-danger" data-post="{{ post.id }}" data-value="-1">Дизлайк</button>
    {% else %}
      <button class="btn btn-sm btn-outline-success" data-post="{{ post.id }}" data-value="1">Лайк</button>
      <button class="btn btn-sm btn-danger" data-post="{{ post.id }}" data-value="-1">Дизлайк</button>
    {% endif %}
  {% else %}
    <button class="btn btn-sm btn-outline-success" data-post="{{ post.id }}" data-value="1">Лайк</button>
    <button class="btn btn-sm btn-outline-danger" data-post="{{ post.id }}" data-value="-1">Дизлайк</button>
  {% endif %}
  Рейтинг:
  <span class="rating-sum">{{ post.get_sum_rating }}</span>
</div>
{% else %}
<div class="mt-3">
  <button class="btn btn-sm btn-outline-success" disabled>Лайк</button>
  <button class="btn btn-sm btn-outline-danger" disabled>Дизлайк</button>
  Рейтинг:
  <span class="rating-sum">{{ post.get_sum_rating }}</span>
  <p><small>Чтобы голосовать необходимо <a href="{% url 'user_app:login' %}">авторизироваться.</a></small></p>
</div>
{% endif %}
