{% extends 'main.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
  <div class="card mb-3">
    <div class="row">

      <div class="col-4">
        <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="{{ post.title }}">
      </div>

      <div class="col-8">
        <div class="card-body">
          <h5>{{ post.title }}</h5>
          <p class="card-text">{{ post.description }}</p>
          <p class="card-text">{{ post.text }}</p>
          Категория:
          <a href="{% url 'blog:category' post.category.slug %}">
            {{ post.category.title }}
          </a>
          / Добавил: {{ post.author.username }} /
          <small>{{ post.create }}</small>
          {% if request.user == post.author %}
            <a class="btn btn-sm btn-dark m-2" href="{% url 'blog:post_update' post.slug %}">Редактировать</a>
            <a class="btn btn-sm btn-danger m-2" href="{% url 'blog:post_delete' post.slug %}">Удалить</a>
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  <div class="card border-0">
    <div class="card-body">
      <h5 class="card-title">
        Комментарии:
      </h5>
      {% include 'blog/comments/comments_list.html' %}
    </div>
  </div>
{% endblock content %}
