{% extends 'main.html' %}

{% block title %}
  {{ post.title }}
{% endblock title %}

{% block content %}
  <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" width="200">
  <h2>{{ post.title }}</h2>
  <p>{{ post.description }}</p>
  <p>{{ post.text }}</p>
  <small>{{ post.create }}</small>
  <hr>
  <p>{{ post.category.title }}</p>

  {% if user.is_authenticated and user == post.author %}
    <a
      href="{% url 'blog:post_update' slug=post.slug %}"
      class="btn btn-dark"
      >Редактировать</a>
  {% endif %}
{% endblock content %}
