# name: Deploy to prod

# on:
#   push:
#     branches:
#       - master

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#     - name: run on server
#       uses: garygrossgarten/github-action-ssh@release
#       with:
#         host: ${{ secrets.SERVER_HOST }}
#         username: ${{ secrets.SERVER_USER }}
#         password: ${{ secrets.SERVER_PASSWORD }}
#         command: |
#           cd /var/www/nextgenblog/ &&
#           git pull --ff-only &&

#           rm -f .env &&
#           touch .env &&

#           echo "SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}" >> .env &&
#           echo "DEBUG=${{ secrets.DJANGO_SECRET_KEY }}" >> .env &&

#           echo "RECAPTCHA_PUBLIC_KEY=${{ secrets.RECAPTCHA_PUBLIC_KEY }}" >> .env &&
#           echo "RECAPTCHA_PRIVATE_KEY=${{ secrets.RECAPTCHA_PRIVATE_KEY }}" >> .env &&

#           echo "SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=${{ secrets.SOCIAL_AUTH_GOOGLE_OAUTH2_KEY }}" >> .env &&
#           echo "SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=${{ secrets.SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET }}" >> .env &&

#           echo "PSQL_ENGINE=${{ secrets.PSQL_ENGINE }}" >> .env &&
#           echo "PSQL_DATABASE=${{ secrets.PSQL_DATABASE }}" >> .env &&
#           echo "PSQL_USER=${{ secrets.PSQL_USER }}" >> .env &&
#           echo "PSQL_PASSWORD=${{ secrets.PSQL_PASSWORD }}" >> .env &&
#           echo "PSQL_HOST=${{ secrets.PSQL_HOST }}" >> .env &&
#           echo "PSQL_PORT=${{ secrets.PSQL_PORT }}" >> .env &&

#           systemctl restart gunicorn &&
#           systemctl restart nginx
